@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the App</h1>
    <p>This is a simple Web App implementing a CRUD functionality.</p>
    <p>The app is meant to keep track of book titles and authors.</p>
</div>
